@import 'tailwindcss';
@import 'tailwindcss';

@theme {
    --animate-rainbow-spin: rainbow-spin 3s linear infinite;

    @keyframes rainbow-spin {
        from {
            --angle: 0deg;
        }
        to {
            --angle: 360deg;
        }
    }
}

/* Register the custom property so it can be animated */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.rainbow-border {
    background:
        padding-box linear-gradient(white, white),
        /* Inner color */ border-box
            conic-gradient(
                from var(--angle),
                #0d99ff,
                /* Blue */ #874fff,
                /* Violet */ #ff3737,
                /* Red Orange */ #ff7237,
                /* Burning Orange */ #24cb71,
                /* Green */ #0d99ff /* Back to Blue */
            );
    border: 5px solid transparent;
}

@theme {
    /* Default is 96rem (1536px). 
     Lowering it slightly to 95rem (~1520px) accounts for 
     Edge's scrollbars and sidebar UI. */
    --breakpoint-2xl: 95rem;
}
